.post-card-horizontal {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  transition: .3s;
  &:first-child {
    margin-top: 30px;
  }
  &:hover {
    border-color: $border_light_green;
    .post-card-horizontal__img {
      transform: scale(1.2);
    }
  }
  &__wrapper {
    display: flex;
  }
  &__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s;
    &_wrapper {
      width: 179px;
      height: 135px;
      overflow: hidden;
      @media (max-width: 768px) {
        width: 120px;
        height: 150px;
      }
    }
  }
  &__body {
    padding: 19px 19px 14px 20px;
    flex: 1 1 0;
    @media (max-width: 768px) {
      padding: 12px;
    }
  }
  &__title {
    font-family: $fira-semibold;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 14px;
      font-family: $fira-bold;
      margin-bottom: 5px;
    }
  }
  &__desc {
    font-size: 12px;
    line-height: 150%;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      max-height: 72px;
      height: 72px;
      -webkit-line-clamp: 4;
      margin-bottom: 10px;
    }
  }
  &__mode {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    color: $text_light;
    font-size: 12px;
    line-height: 150%;
  }
  &__time {
    color: $text_light;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    svg {
      margin-right: 6px;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}