.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow-y: auto;
  transition: none;
  &.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: .25s ease-in-out;
    @media (max-width: 768px) {
      display: none;
    }
    .popup__overlay {
      display: block;
      opacity: 1;
    }
  }
  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .25s ease-out;
    z-index: 1;
    background: rgba(0, 0, 0,.4);
    backdrop-filter: blur(2px);
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 80px;
  }
  &__container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 100%;
    max-width: 1140px;
    overflow-x: hidden;

    border-radius: 13px;
    border: 1px solid $border_gray;
    background: $white;

    z-index: 2;
    position: relative;
    &.exit-popup {
      padding: 0;
      border: none;
    }
  }
  &__close {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;

    cursor: pointer;
    rect {
      transition: .3s;
    }
    &:hover {
      rect.hover {
        fill: #117C56;
      }
      rect.hover-light {
        stroke: #47B68E;
      }
    }
  }
}