body.error404 {
  .main {
    margin-top: 110px;
    margin-bottom: 158px;
    @media (max-width: 768px) {
      margin-bottom: 189px;
    }
    .wrapper {
      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .p404 {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__title {
      font-size: 28px;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
    &__image {
      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        height: auto;
        margin-top: 15px;
        margin-bottom: 25px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &__btn {}
  }
}