// Small devices
$xs-screen: 575px;
$xs-min-screen: 576px;

// Medium devices
$sm-screen: 767px;
$sm-min-screen: 768px;

// Large devices
$md-screen: 991px;
$md-min-screen: 992px;

// Large devices
$tablet-screen: 1024px;
$tablet-min-screen: 1025px;

// Extra large devices
$lg-screen: 1199px;
$lg-min-screen: 1200px;

// Extra large devices
$xl-screen: 1399px;
$xl-min-screen: 1400px;