.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 1240px;
  overflow-x: hidden;
  @media (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: hidden !important;
  }
}

body {
  overflow-x: hidden;
  background: #f4f5f3;
}

button {
  background: none;
  outline: none;
  border: none;
}

input {
  background: none;
  outline: none;
  border: none;
}

textarea {
  background: none;
  outline: none;
  border: none;
}

strong {
  font-family: $fire-medium;
}

em {
  font-family: $fira-italic;
}

.main {
  margin-top: 142px;
  @media (max-width: 768px) {
    margin-top: 134px;
  }
  section {
    margin-bottom: 60px;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

body.simple-page {
  .main {
    margin-top: 102px;
    @media (max-width: 768px) {
      margin-top: 92px;
    }
  }
}

body.free_spins {
  .main {
    @media (max-width: 768px) {
      margin-top: 96px;
    }
  }
}

body.page-template-simple-page {
  .content-block {
    &:not(.white-block) {
      .content-block__wrapper.wrapper-white {
        padding: 0;
        border-radius: 0;
        background: transparent;
        border: none;
        @media (max-width: 768px) {
          padding: 0 16px;
        }
      }
    }
  }
}

.wrapper-white {
  border-radius: 13px;
  border: 1px solid $border_gray;
  background: $white;
  @media (max-width: 768px) {
    border-radius: 8px;
  }
}
