body {
  color: $text_black;
  font-family: $fira-regular;
  font-size: 15px;
  line-height: 150%;
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 140%;
  }
  p {
    color: $text_black;
    font-family: $fira-regular;
    font-size: 15px;
    line-height: 150%;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 140%;
    }
  }
  li {
    color: $text_black;
    font-family: $fira-regular;
    font-size: 15px;
    line-height: 150%;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.content-block {
  h1, h2, h3, h4, h5 {
    &:not(.heading-italy) {
      margin-bottom: 10px;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-family: $font-black;
  line-height: 150%;
  text-transform: none;
  @media (max-width: 768px) {
    line-height: 140%;
  }
}

h1 {
  font-size: 32px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

h2 {
  font-size: 28px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

h4 {
  font-size: 20px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

h5 {
  font-size: 18px;
}

.heading-italy {
  position: relative;
  margin-bottom: 39px;
  &:after {
    content: '';
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='4' viewBox='0 0 39 4' fill='none'%3E%3Crect width='13' height='4' fill='%2329B473'/%3E%3Crect x='13' width='13' height='4' fill='%23EAEAEA'/%3E%3Crect x='26' width='13' height='4' fill='%23EC1C24'/%3E%3C/svg%3E");
    width: 39px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -15px;
  }
  @media (max-width: 768px) {
    margin-bottom: 29px;
    &:after {
      bottom: -14px;
    }
  }
}

a {
  color: $text_dark_green;
  cursor: pointer;
}