.form {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }
  &__error {
    color: #F0284A;
    margin-top: 20px;
    margin-left: 20px;
    display: none;
    &.show {
      display: block;
    }
  }
  &__body {
    position: relative;
    &.success {
      .success-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .success-message {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: $white;
      z-index: 2;
      &__text {
        margin-bottom: 30px;
        p {
          display: flex;
          align-items: center;
          font-size: 26px;
          line-height: 120%;
          img {
            margin-right: 15px;
          }
        }
      }
      &__btn {}
    }
  }
  &-item {
    padding: 12px;
    position: relative;
    &.field-button {
      input {
        color: $white;
        cursor: pointer;
      }
      .btn {
        display: flex;
      }
    }
    &.field-message {
      display: flex;
      .field-label {
        top: 26px;
      }
      textarea {
        height: 5.375rem;
        resize: none;
      }
      textarea.label-up~label {
        top: 11px;
        left: 25px;
      }
    }
    &.col-6 {
      width: 50%;
    }
    &.col-12 {
      width: 100%;
    }
    &.has-error {
      .error-message {
        display: block;
      }
    }
    .error-message {
      display: none;
      position: absolute;
      font-size: 12px;
      color: $border_red;
      bottom: -6px;
      left: 25px;
      @media (max-width: 768px) {
        white-space: nowrap;
        left: 18px;
      }
    }
    input.label-up~label, textarea.label-up~label {
      top: 11px;
      left: 25px;
    }
    .field {
      width: 100%;
      padding: 10.5px 8px 10.5px 20px;
      border: 1px solid $border_gray;
      border-radius: 8px;
      font-size: 14px;
      line-height: 150%;
      color: $text_black;
      z-index: 1;
      background-color: transparent;
      transition: .3s;
      &:hover, &:focus {
        border-color: $border_red;
      }
      &-label {
        position: absolute;
        font-family: $font-bold;
        color: $text_light;
        font-size: 14px;
        line-height: 150%;
        top: 50%;
        left: 17px;
        z-index: 2;
        transform: translateY(-50%);
        background: $white;
        padding: 0 5px;
        transition: .3s;
        .required {
          font-family: $font-bold;
          color: $border_red;
          font-size: 14px;
          line-height: 150%;
          margin-left: 2px;
        }
      }
    }
  }

}