.free-spins {
  .wrapper {
    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.animation {
    .arm__hand {
      animation: animation-arm-hand 1.5s;
    }
    .arm__circle {
      animation: animation-arm-circle 1.5s;
    }
    .arm__circle_up {
      animation: animation-arm-circle-up 1.5s;
    }
    .arm__shadow {
      animation: animation-arm-shadow 1.5s;
    }
    .arm__shadow_down {
      animation: animation-arm-shadow-down 1.5s;
    }
    .arm, .free-spins__right, .free-spins__btn {
      pointer-events: none;
    }
    .free-spins__lamps {
      .lamp {
        &:nth-child(1) {
          animation: animation-lamp-1 .5s infinite;
        }
        &:nth-child(2) {
          animation: animation-lamp-1 .5s .05s infinite;
        }
        &:nth-child(3) {
          animation: animation-lamp-1 .5s .1s infinite;
        }
        &:nth-child(4) {
          animation: animation-lamp-1 .5s .15s infinite;
        }
        &:nth-child(5) {
          animation: animation-lamp-1 .5s .2s infinite;
        }
        &:nth-child(6) {
          animation: animation-lamp-1 .5s .25s infinite;
        }
        &:nth-child(7) {
          animation: animation-lamp-1 .5s .3s infinite;
        }
        &:nth-child(8) {
          animation: animation-lamp-1 .5s .35s infinite;
        }
        &:nth-child(9) {
          animation: animation-lamp-1 .5s .4s infinite;
        }
        &:nth-child(10) {
          animation: animation-lamp-1 .5s .45s infinite;
        }
        &:nth-child(11) {
          animation: animation-lamp-1 .5s .5s infinite;
        }
        &:nth-child(12) {
          animation: animation-lamp-1 .5s .55s infinite;
        }
        &:nth-child(13) {
          animation: animation-lamp-1 .5s .6s infinite;
        }
        &:nth-child(14) {
          animation: animation-lamp-1 .5s .65s infinite;
        }
      }
    }
    .card__wrapper {
      &:first-child {
        .card__elem {
          animation: animation-card 3s .75s;
        }
      }
      &:nth-child(2) {
        .card__elem {
          animation: animation-card 3s 1.1s;
        }
      }
      &:nth-child(3) {
        .card__elem {
          animation: animation-card 3s 1.45s;
        }
      }
    }
  }
  &__wrapper {
    background: var(--Green, #47B68E);
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
      border-radius: 0px 0px 8px 8px;
      flex-direction: column;
    }
  }

  &__left {
    max-width: 307px;
    padding: 120px 30px 30px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 768px) {
      max-width: none;
      padding: 32px 16px 30px;
      align-items: center;
      justify-content: center;
    }
  }
  &__title {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 20px;
      text-align: center;
    }
  }
  &__desc {
    color: #FFF;
    @media (max-width: 768px) {
      max-width: 343px;
      text-align: center;
      font-size: 12px;
    }
  }
  &__btn-wrapper {
    margin-top: 35px;
    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }
  &__btn {
    padding: 14px 54px;
    border: 1px solid #F2E56A;
    background: #F2E56A;
    color: #222;
    font-family: $fira-semibold;
    font-size: 16px;
    line-height: normal;
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 10px 10px;
      min-width: 150px;
      position: relative;
      &:before {
        content: '';
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='95' height='87' viewBox='0 0 95 87' fill='none'%3E%3Cpath d='M93.6454 18.4429C93.8778 18.5921 93.9452 18.9014 93.796 19.1337C93.6468 19.3661 93.3375 19.4335 93.1051 19.2843L93.6454 18.4429ZM67.7057 39.8101L68.0494 40.1733L68.0492 40.1734L67.7057 39.8101ZM44.5166 53.0066L44.229 52.5975L44.2291 52.5975L44.5166 53.0066ZM21.5313 72.8994C21.7853 73.0076 21.9035 73.3013 21.7952 73.5553C21.687 73.8094 21.3933 73.9276 21.1392 73.8193L21.5313 72.8994ZM18.671 66.5627C18.5591 66.3103 18.6731 66.0149 18.9256 65.903C19.178 65.7912 19.4734 65.9051 19.5853 66.1576L18.671 66.5627ZM22.3634 73.6606L22.8205 73.458C22.8964 73.6292 22.8702 73.8285 22.7527 73.9743L22.3634 73.6606ZM11.3402 74.4497C11.069 74.3976 10.8914 74.1355 10.9435 73.8644C10.9956 73.5932 11.2577 73.4156 11.5289 73.4677L11.3402 74.4497ZM93.3753 18.8636C93.1051 19.2843 93.1051 19.2844 93.1051 19.2843C93.1049 19.2842 93.1047 19.2841 93.1043 19.2838C93.1037 19.2834 93.1025 19.2827 93.101 19.2817C93.0979 19.2797 93.0931 19.2767 93.0866 19.2726C93.0737 19.2643 93.054 19.2519 93.0277 19.2354C92.9751 19.2024 92.8962 19.1532 92.7921 19.0894C92.584 18.9619 92.2755 18.7761 91.8766 18.5446C91.0788 18.0815 89.9199 17.4359 88.4802 16.7087C85.5991 15.2534 81.601 13.4751 77.1253 12.1762C68.1424 9.56912 57.4112 8.93791 49.8283 16.4462L49.1247 15.7356C57.1118 7.82714 68.33 8.58229 77.404 11.2158C81.9567 12.5371 86.014 14.3426 88.9311 15.8161C90.3904 16.5532 91.5664 17.2083 92.3786 17.6797C92.7848 17.9154 93.1001 18.1054 93.3145 18.2368C93.4218 18.3025 93.5038 18.3535 93.5594 18.3884C93.5871 18.4059 93.6083 18.4192 93.6227 18.4284C93.6299 18.433 93.6354 18.4365 93.6392 18.4389C93.6411 18.4401 93.6426 18.441 93.6436 18.4417C93.6441 18.442 93.6446 18.4423 93.6448 18.4425C93.6452 18.4427 93.6454 18.4429 93.3753 18.8636ZM49.8283 16.4462C46.0209 20.216 44.7943 23.9542 45.1327 27.3107C45.473 30.6866 47.4059 33.7696 50.0972 36.1861C52.7877 38.6019 56.1967 40.3141 59.404 40.9615C62.6257 41.6119 65.5374 41.1722 67.3622 39.4468L68.0492 40.1734C65.8884 42.2165 62.5825 42.6233 59.2061 41.9418C55.8153 41.2573 52.2458 39.4593 49.4291 36.9302C46.6132 34.4018 44.5102 31.1054 44.1377 27.411C43.7633 23.6971 45.147 19.6741 49.1247 15.7356L49.8283 16.4462ZM67.3621 39.4469C68.2673 38.5904 68.68 37.6196 68.7083 36.5932C68.737 35.5531 68.3714 34.4105 67.6335 33.2341C66.1546 30.8761 63.2461 28.4927 59.4854 26.7424C51.9707 23.2451 41.2714 22.3712 32.3491 29.0519L31.7497 28.2515C41.0442 21.2921 52.1564 22.2285 59.9073 25.8358C63.7795 27.6379 66.8674 30.1306 68.4807 32.7027C69.289 33.9914 69.7436 35.3273 69.7079 36.6207C69.6719 37.9278 69.1358 39.1453 68.0494 40.1733L67.3621 39.4469ZM32.3491 29.0519C27.8737 32.403 25.8601 35.9495 25.4323 39.2433C25.0039 42.5418 26.1542 45.6729 28.1743 48.2124C30.1968 50.7549 33.0703 52.6757 36.0204 53.5414C38.9715 54.4074 41.9428 54.205 44.229 52.5975L44.8042 53.4156C42.1989 55.2474 38.8888 55.4253 35.7388 54.5009C32.5877 53.5762 29.5403 51.5359 27.3917 48.8349C25.2408 46.1309 23.9702 42.736 24.4406 39.1145C24.9116 35.4882 27.1168 31.7205 31.7497 28.2515L32.3491 29.0519ZM44.2291 52.5975C45.3832 51.7865 46.0734 50.8711 46.3985 49.9179C46.7234 48.9651 46.6984 47.9307 46.3463 46.8548C45.6362 44.6848 43.6032 42.3842 40.5879 40.4641C34.5727 36.6337 24.8862 34.473 15.0896 37.8394L14.7646 36.8937C24.8728 33.4202 34.8748 35.6406 41.1251 39.6206C44.2425 41.6058 46.4865 44.0679 47.2967 46.5438C47.7048 47.791 47.7508 49.0505 47.345 50.2407C46.9392 51.4304 46.097 52.5071 44.8041 53.4156L44.2291 52.5975ZM15.0896 37.8394C10.207 39.5172 7.23905 42.1216 5.72835 45.141C4.21535 48.165 4.1283 51.6769 5.14794 55.2334C7.19273 62.3657 13.6565 69.5435 21.5313 72.8994L21.1392 73.8193C13.0151 70.3572 6.32244 62.9586 4.18667 55.509C3.11603 51.7746 3.18267 47.9941 4.83404 44.6936C6.4877 41.3884 9.69475 38.6359 14.7646 36.8937L15.0896 37.8394ZM19.5853 66.1576L22.8205 73.458L21.9063 73.8632L18.671 66.5627L19.5853 66.1576ZM22.3634 73.6606C22.7527 73.9743 22.7522 73.9749 22.7518 73.9755C22.7516 73.9757 22.7511 73.9763 22.7507 73.9768C22.75 73.9776 22.7493 73.9785 22.7486 73.9794C22.7471 73.9812 22.7454 73.9832 22.7437 73.9852C22.7402 73.9893 22.7363 73.9939 22.7318 73.9989C22.7229 74.0089 22.712 74.0206 22.699 74.0339C22.673 74.0604 22.6384 74.093 22.5939 74.1301C22.5049 74.2044 22.377 74.2964 22.1995 74.3946C21.8445 74.5911 21.2942 74.811 20.4625 74.9677C18.8037 75.2802 16.0035 75.3454 11.3402 74.4497L11.5289 73.4677C16.1215 74.3498 18.7857 74.266 20.2774 73.985C21.0209 73.8449 21.4674 73.6569 21.7153 73.5197C21.8392 73.4511 21.9144 73.3948 21.953 73.3625C21.9723 73.3463 21.9827 73.3361 21.9857 73.333C21.9872 73.3315 21.9868 73.3318 21.9848 73.3341C21.9838 73.3352 21.9824 73.3368 21.9806 73.3389C21.9797 73.34 21.9787 73.3412 21.9776 73.3425C21.9771 73.3432 21.9765 73.3438 21.9759 73.3446C21.9756 73.3449 21.9752 73.3455 21.975 73.3457C21.9746 73.3463 21.9741 73.3468 22.3634 73.6606Z' fill='white'/%3E%3C/svg%3E");
        width: 95px;
        height: 87px;
        position: absolute;
        right: 144px;
        top: 49px;
      }

    }
    &:hover {
      border: 1px solid #222;
      background: #F0DB62;
      color: #222;
    }
  }
  &__subbutton {
    margin-top: 5px;
    color: #FFF;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
  }

  .arm {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 354px;
    overflow: hidden;
    left: 380px;
    top: 117px;
    @media (max-width: 768px) {
      left: 16px;
      top: unset;
      margin-top: 25px;
    }
    &__circle {
      position: absolute;
      z-index: 8;
      top: 7px;
      left: 21px;
      width: 60px;
      height: 60px;
      transition: .3s;
    }
    &__circle_up {
      position: absolute;
      z-index: 9;
      top: 14px;
      left: 29px;
      width: 25px;
      height: 25px;
      transition: .3s;
    }
    &__hand {
      position: absolute;
      z-index: 2;
      left: 42px;
      top: 52px;
      transition: .3s;
    }
    &__stand_up {
      position: absolute;
      z-index: 1;
      left: 27px;
      top: 257px;
      transition: .3s;
    }
    &__stand_down {
      position: absolute;
      z-index: 4;
      left: 27px;
      top: 286px;
      transition: .3s;
    }
    &__shadow {
      position: absolute;
      z-index: 6;
      left: 42px;
      top: 29px;
      width: 18px;
      transition: .3s;
    }
    &__shadow_down {
      position: absolute;
      z-index: 5;
      left: 42px;
      top: 251px;
      opacity: 0.8;
      transition: .3s;
      background-color: #CFC24D;
      border-radius: 0 0 5px 5px;
      width: 18px;
      height: 34px;
      display: block;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 28%;
        background-color: #FEF5A6;
      }
    }
    &__bottom {
      position: absolute;
      display: block;
      width: 100px;
      height: 50px;
      top: 314px;
      left: 0;
      z-index: 7;
      background: var(--Green, #47B68E);
      transition: .3s;
    }
  }

  &__right {
    width: 720px;
    @media (max-width: 768px) {
      width: calc(100% - 116px);
      margin-left: 116px;
      border-radius: 13px 0 0 13px;
    }
  }

  &__lamps {
    display: flex;
    gap: 35px;
    padding: 20px 26px;
    position: relative;
    @media (max-width: 768px) {
      padding: 20px 0 20px 32px;
      gap: 20px;
      justify-content: space-between;
    }
    &:after {
      content: '';
      display: block;
      width: 362px;
      height: 2px;
      border-radius: 50%;
      background-color: rgba(220, 220, 220, 0.30);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 768px) {
        content: none;
      }
    }
    &:last-child {
      &:after {
        content: none;
      }
      &:before {
        content: '';
        display: block;
        width: 362px;
        height: 2px;
        border-radius: 50%;
        background-color: rgba(220, 220, 220, 0.30);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 768px) {
          content: none;
        }
      }
    }
    .lamp {
      width: 15px;
      height: 15px;
      background-color: #F2E56A;
      border-radius: 50%;
      transition: .3s;
      transform: scale(1);
      opacity: .5;
      @media (max-width: 768px) {
        width: 10px;
        height: 10px;
        min-width: 10px;
      }
    }
  }
  &__cards {
    display: flex;
    gap: 2px;
    padding: 32px;
    @media (max-width: 768px) {
      gap: 0;
      padding: 0 11px 0 30px;
      justify-content: center;
    }
    .card__wrapper {
      overflow: hidden;
      width: calc(33% - 2px);
      border-radius: 13px;
      background: linear-gradient(180deg, #3F1C1C 0%, #615050 43.73%);
      padding: 12px 6px;
      position: relative;
      @media (max-width: 768px) {
        display: none;
        width: 100%;
        max-width: 218px;
        &:first-child {
          display: block;
        }
      }
      .card__elem {
        position: relative;
        transition: .3s;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 13px;
        border: 2px solid #222;
        &.loading {
          min-width: 202.5px;
          min-height: 285.5px;
          @media (max-width: 768px) {
            min-height: 250px;
          }
        }
      }
      .vertical-bonus {
        height: 100%;
        transition: .3s;

        .vertical-bonus__desc {
          display: none;
        }
        .vertical-bonus__btn {
          padding: 9px 14px;;
        }
        .vertical-bonus__top {
          margin-bottom: 10px;
        }
        .vertical-bonus__title {
          min-height: 66px;
          p {
            margin-bottom: 0;
          }
        }
        .vertical-bonus__body {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@keyframes animation-card {
  0% {
    top: 0;
    opacity: 1;
  }
  1% {
    top: 30%;
    opacity: 1;
  }
  2% {
    top: 60%;
    opacity: 1;
  }
  3% {
    top: 90%;
    opacity: 1;
  }
  4% {
    top: 100%;
    opacity: 0;
  }
  5% {
    top: -100%;
    opacity: 0;
  }
  6% {
    top: -90%;
    opacity: 1;
  }
  7% {
    top: -60%;
    opacity: 1;
  }
  8% {
    top: -30%;
    opacity: 1;
  }
  9% {
    top: 0;
    opacity: 1;
  }
  10% {
    top: 30%;
    opacity: 1;
  }
  11% {
    top: 60%;
    opacity: 1;
  }
  12% {
    top: 90%;
    opacity: 1;
  }
  13% {
    top: 100%;
    opacity: 0;
  }
  14% {
    top: -100%;
    opacity: 0;
  }
  15% {
    top: -90%;
    opacity: 1;
  }
  16% {
    top: -60%;
    opacity: 1;
  }
  17% {
    top: -30%;
    opacity: 1;
  }
  18% {
    top: 0;
    opacity: 1;
  }
  19% {
    top: 30%;
    opacity: 1;
  }
  20% {
    top: 60%;
    opacity: 1;
  }
  21% {
    top: 90%;
    opacity: 1;
  }
  22% {
    top: 100%;
    opacity: 0;
  }
  23% {
    top: -100%;
    opacity: 0;
  }
  24% {
    top: -90%;
    opacity: 1;
  }
  25% {
    top: -60%;
    opacity: 1;
  }
  26% {
    top: -30%;
    opacity: 1;
  }
  27% {
    top: 0;
    opacity: 1;
  }
  28% {
    top: 30%;
    opacity: 1;
  }
  29% {
    top: 60%;
    opacity: 1;
  }
  30% {
    top: 90%;
    opacity: 1;
  }
  31% {
    top: 100%;
    opacity: 0;
  }
  32% {
    top: -100%;
    opacity: 0;
  }
  33% {
    top: -90%;
    opacity: 1;
  }
  34% {
    top: -60%;
    opacity: 1;
  }
  35% {
    top: -30%;
    opacity: 1;
  }
  36% {
    top: 0;
    opacity: 1;
  }
  37% {
    top: 30%;
    opacity: 1;
  }
  38% {
    top: 60%;
    opacity: 1;
  }
  39% {
    top: 90%;
    opacity: 1;
  }
  40% {
    top: 100%;
    opacity: 0;
  }
  41% {
    top: -100%;
    opacity: 0;
  }
  42% {
    top: -90%;
    opacity: 1;
  }
  43% {
    top: -60%;
    opacity: 1;
  }
  44% {
    top: -30%;
    opacity: 1;
  }
  45% {
    top: 0;
    opacity: 1;
  }
  46% {
    top: 30%;
    opacity: 1;
  }
  47% {
    top: 60%;
    opacity: 1;
  }
  48% {
    top: 90%;
    opacity: 1;
  }
  49% {
    top: 100%;
    opacity: 0;
  }
  50% {
    top: -100%;
    opacity: 0;
  }
  51% {
    top: -90%;
    opacity: 1;
  }
  52% {
    top: -60%;
    opacity: 1;
  }
  53% {
    top: -30%;
    opacity: 1;
  }
  54% {
    top: 0;
    opacity: 1;
  }
  55% {
    top: 30%;
    opacity: 1;
  }
  56% {
    top: 60%;
    opacity: 1;
  }
  57% {
    top: 90%;
    opacity: 1;
  }
  58% {
    top: 100%;
    opacity: 0;
  }
  59% {
    top: -100%;
    opacity: 0;
  }
  60% {
    top: -90%;
    opacity: 1;
  }
  61% {
    top: -60%;
    opacity: 1;
  }
  62% {
    top: -30%;
    opacity: 1;
  }
  63% {
    top: 0;
    opacity: 1;
  }
  64% {
    top: 30%;
    opacity: 1;
  }
  65% {
    top: 60%;
    opacity: 1;
  }
  66% {
    top: 90%;
    opacity: 1;
  }
  67% {
    top: 100%;
    opacity: 0;
  }
  68% {
    top: -100%;
    opacity: 0;
  }
  69% {
    top: -90%;
    opacity: 1;
  }
  70% {
    top: -60%;
    opacity: 1;
  }
  71% {
    top: -30%;
    opacity: 1;
  }
  72% {
    top: 0;
    opacity: 1;
  }
  //slowly
  74% {
    top: 30%;
    opacity: 1;
  }
  78% {
    top: 60%;
    opacity: 1;
  }
  80% {
    top: 90%;
    opacity: 1;
  }
  82% {
    top: 100%;
    opacity: 0;
  }
  84% {
    top: -100%;
    opacity: 0;
  }
  86% {
    top: -90%;
    opacity: 1;
  }
  88% {
    top: -60%;
    opacity: 1;
  }
  90% {
    top: -30%;
    opacity: 1;
  }
  91% {
    top: 0;
    opacity: 1;
  }
  //dragondrop
  92% {
    top: -10%;
    opacity: 1;
  }

  95% {
    top: 0;
    opacity: 1;
  }

  97% {
    top: 5%;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes animation-lamp-1 {
  0% {
    opacity: .5;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  0% {
    opacity: 100;
    transform: scale(1);
  }

}

@keyframes animation-arm-hand {
  0% {
    top: 52px;
  }

  50% {
    top: 280px;
  }

  100% {
    top: 52px;
  }
}

@keyframes animation-arm-shadow {
  0% {
    top: 29px;
  }

  50% {
    top: 343px;
  }

  100% {
    top: 29px;
  }
}

@keyframes animation-arm-shadow-down {

  0% {
    opacity: 0.8;
    top: 251px;
  }

  50% {
    opacity: 1;
    height: 34px;
    top: 276px;
  }

  100% {
    opacity: 0.8;
    top: 251px;
  }
}

@keyframes animation-arm-circle {
  0% {
    top: 7px;
    left: 21px;
    width: 60px;
    height: 60px;
  }

  50% {
    width: 94px;
    height: 94px;
    top: 255px;
    left: 4px;
  }

  100% {
    top: 7px;
    left: 21px;
    width: 60px;
    height: 60px;
  }
}

@keyframes animation-arm-circle-up {
  0% {
    top: 14px;
    left: 29px;
    width: 25px;
    height: 25px;
  }

  50% {
    width: 21px;
    height: 21px;
    top: 267px;
    left: 20px;
  }

  100% {
    top: 14px;
    left: 29px;
    width: 25px;
    height: 25px;
  }
}
