.howto {
  .wrapper {
    position: relative;
    overflow: visible;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      padding: 0 12px;
    }
  }
  &__image {
    position: absolute;
    left: 20px;
    bottom: -60px;
    height: 600px;
    display: flex;
    @media (max-width: 768px) {
      display: none;
    }
    &_mobile {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        width: 100%;
        img {
          height: auto;
          width: 100%;
        }
      }
    }
    img {
      height: 100%;
      width: auto;
    }
  }
  &__cards {
    margin-left: 387px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      margin-left: 0;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
  &__card {
    width: calc(50% - 20px);
    border-radius: 13px;
    border: 1px solid $border_gray;
    background: $white;
    padding: 29px;
    margin-right: 39px;
    margin-bottom: 20px;
    position: relative;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      padding: 12px;
      &:nth-last-child(2) {
        margin-bottom: 10px;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: -9px;
      left: -15px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M15 0L18.6619 3.72998L23.8168 2.86475L24.5869 8.03475L29.2658 10.3647L26.85 15L29.2658 19.6353L24.5869 21.9653L23.8168 27.1353L18.6619 26.27L15 30L11.3381 26.27L6.18322 27.1353L5.41315 21.9653L0.734152 19.6353L3.15 15L0.734152 10.3647L5.41315 8.03475L6.18322 2.86475L11.3381 3.72998L15 0Z' fill='%2347B68E'/%3E%3C/svg%3E");
      @media (max-width: 768px) {
        top: -5px;
        right: -2px;
        left: unset;

      }
    }
  }
  &__title {
    color: $background_light_green;
    font-family: $fira-semibold;
    font-size: 18px;
    line-height: 23.8px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 23.8px;
      margin-bottom: 5px;
    }
  }
  &__desc {
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 150%;
    }
  }
  &__number {
    color: $white;
    font-family: $fira-bold;
    font-size: 15px;
    line-height: 150%;


    position: absolute;
    top: -4px;
    left: -4.2px;
    z-index: 2;
    @media (max-width: 768px) {
      top: -1px;
      right: 9.8px;
      left: unset;
    }
  }
}