.steps {
  &.step-2 {
    .wrapper .step {
      width: calc(50% - 8px);
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  &.step-3, &.step-6 {
    .wrapper .step {
      width: calc(33% - 10px);
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  &.step-4, &.step-8 {
    .wrapper .step {
      width: calc(25% - 12px);
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  &.step-5 {
    .wrapper .step {
      width: calc(33% - 10px);
      @media (max-width: 768px) {
        width: 100%;
      }
      &:nth-child(4), &:nth-child(5) {
        width: calc(50% - 8px);
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  &.step-7 {
    .wrapper .step {
      width: calc(25% - 12px);
      @media (max-width: 768px) {
        width: 100%;
      }
      &:nth-child(5), &:nth-child(6), &:nth-child(7) {
        width: calc(33% - 10px);
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    @media (max-width: 768px) {
      gap: 10px;
    }
    .step {
      border-radius: 13px;
      border: 1px solid $border_gray;
      padding: 15px;
      @media (max-width: 768px) {
        border-radius: 8px;
        padding: 12px;
      }
      &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      &__icon {
        margin-right: 12px;
        width: 50px;
        height: 50px;
        display: flex;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
      &__title {
        flex: 1 1 0;
        margin-bottom: 0;
        font-family: $font-bold;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
      &__text {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 150%;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}