.top-slots {
  .wrapper {}
  &__cols {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 15px;
    }
  }
  &__col {
    width: calc(33% - 10px);
    border-radius: 13px;
    padding: 15px;
    @media (max-width: 768px) {
      width: 100%;
      padding: 15px 12px;
      border-radius: 8px;
    }
  }
  &__title {
    font-family: $font-bold;
    font-size: 18px;
    line-height: normal;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  &__desc {
    font-size: 13px;
    line-height: 150%;
    margin-top: 10px !important;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  &__tables {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__table {
    width: calc(50% - 10px);
    margin-right: 20px;
    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
    }
    .top-slots__title {
      font-family: $font-black;
      font-size: 20px;
      line-height: 150%;
      @media (max-width: 768px) {
        font-size: 16px;
        font-family: $font-bold;
      }
    }
    &:last-child {
      margin-right: 0;
      @media (max-width: 768px) {
        margin-top: 15px;
      }
    }
  }
  &__slots {
    margin-top: 15px;
    @media (max-width: 768px) {
      margin-top: 10px;
    }
    .hot-cold-slot {
      .hot-cold-slot__content {
        max-width: none;
        width: 100%;
        margin-right: 40px;
        padding-top: 5px;
        flex: 1 1 0;
      }
    }
    &.top-rtp {
      .hot-cold-slot__volatility {
        display: none;
      }
      .hot-cold-slot__rtp {
        margin-right: 0;
      }
    }
    &.top-volatility {
      .hot-cold-slot__rtp {
        display: none;
      }
      .hot-cold-slot__volatility {
        min-width: 85px;
        .value {
          justify-content: center;
        }
      }
    }
  }
}

.content-block .top-slots {
  p, h2, h3, h4, h5 {
    margin-bottom: 0;
  }
}